@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary: #008D7A;
    --secondary: #f1f1f0;
    --light-font: #636e72;
    --dark:#2c3e50;
}
section{
    margin: 3rem auto;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
p{
    color: var(--light-font);
}
li{
    list-style: none;
}
h1{

}
h2{
    border-left: 4px solid var(--primary);
    padding: .2rem .4rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2rem;
}
html{
    /* font-size: 65.2%; */
}

.fade-in{
    background: var(--dark) !important;
}
/* ------------------------------------------------------------ */
.background{
    background:rgba(0, 0, 0, .9) url(../images//bg1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    position: fixed;
    width: 100%;
    transition: all ease .3s;
    z-index: 99
}
.navbar .navbar-brand{
    font-weight: bolder;
    /* color: var(--primary); */
    color: white;
    letter-spacing: .2rem;
}
.dropdown-menu{
background: rgba(0, 0, 0, .8)
}
.dropdown-menu .dropdown-item:hover{
    background: rgba(0, 0, 0, .9) !important

}
.navbar{
    display: flex ;
    /* background: var(--secondary); */
    align-items: center;
    justify-content: center ;
    background: rgba(0, 0, 0, .3)
}
.navbar-nav li{
    list-style: none;

}
.navbar-nav li a{
    text-decoration: none;
    color: white !important;
    font-weight: 400;
}
.navbar form input{

}
.navbar form .btn{
    border: 1px solid var(--primary);
    background-color: var(--primary);
    /* padding: .1rem 3rem; */
    color: white;
}


/* =================================== */
.home{
    height: 100vh;
    display: flex;
    align-items: center;
}
.home .row{
    padding: 0;
}
.box_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    /* background-color: teal; */
    background: var(--secondary);
    /* height: 50vh; */
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: .3rem;

}
.box_main h1{
    /* color: white; */
    color: var(--primary);
    font-weight: 600;
}

.box_main button{
    background: #636e72;
    color: white;
}
.first_half{
    /* background: yellow; */
    display: flex;
    justify-content:center;
    /* align-items: center; */
    flex-direction: column;


}
.first_half .text_big{
    font-size: 210%;
}
.second_half{
    /* background: green; */
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;

}
.second_half img{
    width: 15rem;
}

/* --------------ABOUT--------------------- */

/* ---------------services----------------- */

.services h2{
    margin: 3rem auto;
}
.services .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem .6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.services .card img{
    width: 4rem;
}
.services .card h5{
    margin: 1rem auto;
}

/* ---------------------team------------- */

.team p{
    color: var(--light-font);

} 
.team .card{
    width: 100%;
    height: 100%;
    padding: .3rem 1rem;
}
.team .card img{
  object-fit: contain;
  width: 80%;
  margin: auto;
}
.team .card h4{
    margin: 1rem auto;
}
.about .about_details p{
    margin-top: 2rem;
}
.about .about_details img{
    width: 20rem;
}

/* ------------------------------------------------ */
.targets{
    padding: 2rem;
    background-color: #e8f6f7;
}
.targets h3{
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-bottom: 1px solid var(--primary);
    display:inline-block;
    font-weight: 600;
}
.targets .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.targets .box i{
    font-size: 2.3rem;
    color: var(--primary);
}
.targets .box h1{
    margin: 1rem auto;
}
.targets .box p{
    color: var(--light-font);
}


/* --------------------CONTACT------------------- */
.contact{
    background: var(--dark);
    color: white;
    margin: 0 !important;
}
.contact .contact_form{
    margin-top: 4rem;
}
.contact h2{
    border: none;
}
.contact hr{
    background-color: var(--light-font);
}
.contact .submit-btn{
    border: 1px solid #979797;
    padding: .3rem 6rem;
    color: #979797;
}
.contact .address i{
  margin-right: .3rem;
}
.contact .social_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}
.contact .social_links li a{
    list-style-type: none;
    color: white;

}
